
:root {
    --text-color: #1A1A1A;
    --green-color: #00B172;
}

/* Global */
body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
}

h1 {
    font-weight: normal;
}

h2 {
    text-decoration: underline 3px;
    text-underline-offset: 0.3em;
    font-weight: normal;
}

h3 {
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
}


/* Nav bar */
nav {
    display: flex;
    justify-content: space-between;
}

nav > div {
    display: inline-block;
    margin: 10px 30px;
    width: 10%;
}



/* List */
ul {
    margin-right: 30px;
    padding: 0;
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
}

li:hover {
    color: var(--green-color);
    text-decoration: underline;
    text-decoration-thickness: 20%;
    text-underline-offset: 8px;
    cursor: pointer;
}

/* Header */
header {
    background: url("../images/landing.jpg") center no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 150px 0 200px 0;
}

/* Spotify section */
#spotify-section {
    text-align: center;
    padding: 30px;
    margin: 0 20px;
}

#spotify-section > div {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10px 40px;
    margin-bottom: 40px;
}

#spotify-section > h2 {
    font-weight: bold;
    font-size: 200%;
    text-decoration-color: var(--green-color);
    margin-bottom: 80px;
 }

.spotify-advantage > h3 {
    color: var(--green-color);
    font-weight: bolder;
    font-size: 120%;
}

.spotify-advantage > img {
    height: 70px;

}

.spotify-advantage {
    width: 20%;
}

/* Artist section */
#artist-section {
    background: var(--green-color);
    color: white;
    padding: 30px;
    margin: 0 20px;
}

#artist-section > h2 {
    text-decoration: underline white 3px;
    text-underline-offset: 0.3em;
 }

#flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spotify-features {
    width: 30%;
}