@import url('https://fonts.googleapis.com/css?family=Poppins');

/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF
*/

body{
    margin: 0;
    font-family: 'Poppins';
}

/*header*/
.logo{
    width:15%;
    padding-left: 30px;
}
/*Nav bar*/
header{
    align-items: center;
    display: flex;
    padding:10px;
    justify-content: space-around;
    
}
.nav-bar{
    width: 100em ;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/*section 1. landing page*/

.accueil{
    background:url("../images/landing.jpg") center no-repeat; background-size:cover;
    font-weight:bold;
    font-size:300%;
    color:white;  
    padding-top:250px;padding-bottom:250px; /* pseudo-centrage vertical */
    text-align:center;
}
.accueil img{
        max-width: 100%;
    }
    
#accueil-p{
    font-size:20px;
    font-weight: 300;
    }

a{
    text-decoration: none;
    color:black;
}

/*section 2. contenu*/

.contenu{
    padding:20px;
}

.contenu h2{
    text-align: center;
    font-size:200%;
    padding-top:1em;
}

.contenu h3{
    text-align: center;
    color:#00B172;
    font-weight: bold;
}

.contenu hr{
    width: 20%;
    color:#00B172;
    border:solid;
}

.contenu p{
    color:#1A1A1A;
}

.second-page{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding:30px;

}
#box{
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;
    font-size: 1.5em;
    text-align: center;
/*  box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 #EEE;*/
    padding: 30px;
    width: 100%;
}

.icon{
    margin-left: auto;
    margin-right:auto;
    width:40%;
}

/*last section*/

.usage{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: #00B172;
    color: #FFF;
    padding:100px;
}

.usage p{
    font-weight: 300;
}

.last-title{
    display: flex;
    flex-direction: column;
    
}

.last-title h2{
    font-size:200%;
    padding-top:1em;
    border-bottom: 3px solid #FFF;
    display: inline;
    
}

#last-word{
    font-size:150%;
}
.function{
    flex-direction: column;
}

#icon{
    padding: 150px;
    max-width:30%;
}
#preview{
    max-width: 100%;
}