@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

body {
  margin: O;
  font-weight:300;
	font-size: 80%;
	line-height: 1.5; 
	font-family: Montserrat, sans-serif;
  padding-bottom: 10px;
}


img {
  max-width: 17%;
  margin-left: 15px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.nav-bar-ul {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}
.nav-bar-ul li {
  list-style-type: none;
}

.nav-bar a {
  color: black;
  text-decoration: none;
  padding: 5px;
  font-size: 95%;
}

/*--Section 1--*/

h2 {
	border-bottom: solid 2px #32b36b;
	margin-top: 20px;
	margin-left : auto;
	margin-right : auto;
	width: 184px;
	padding: 0;
}

h3 {
	color : #32b36b;
}

section {
	display: flex;
	flex-direction: column;
	padding: 20px;
}
div {
	margin: 30px 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.container {
	text-align: center;
	margin: 0px 20px;
  padding: 5px;
	width: 33%;
}

.container img {
  max-width: 50%;
  height: 30%;
}

/*--Section 2--*/

.green-box {
  background: url("../images/spotify-icon-white.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
	background-color: #32b36b;
	display: flex;
	flex-direction: row;
	margin-left: 15px;
	margin-right: 15px;
  padding: 10px 50px; 
}

.green-box h2 {
	color: white;
	border-bottom-color: white;
	margin: 0;
	width : 265px;
	padding-bottom: 4px;
	margin-bottom: 20px;
}

.green-box div {
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 20px;
}

.green-box h3 {
	color: white;
}
.green-box .container {
	margin: 0;
	padding: 0;
	text-align: left;
	color: white;
  width: 50%;
}

.green-box img {
	margin: auto;
  max-width: 200px;
}